*
{
	
}
body
{
	width: 100%;
	background-color: rgba(249, 157, 0, 0.3);
	margin-top: -1px;
	margin-bottom: 0px;
}
#main_container
{
	width: 100%;
}
#main_column, #left_column, #right_column
{
	height: 100%;
}
#left_column, #right_column
{
	float: left;
	width: 20%;
}
#main_column
{
	/* makes it so borders don't increase the div size */
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	float: left;
	width: 60%;
	border: 2px solid #9c8a6a;

	margin-top: -2px;
	top: 0px;
	height: 100%;
	background-color: #ffffff;
	color: #000000;
}
#main_column_title a
{
	color: rgb(100,140,110);
	text-decoration: none;
}
#main_column_title
{
	margin-top: 10px;
	margin-bottom: 7px;
	font-size: 33px;
	text-align: center;
	font-family: "Serif";
}
#main_column_nav a:hover
{
	color: #006400;
}
#main_column_nav a
{
	color: rgb(100,110,140);
	text-decoration: none;
}
#main_column_nav
{
	margin-left: auto;
	margin-right: auto;
	border-top: solid 1px #eaeaea;
	border-bottom: solid 1px #eaeaea;
	background-color: #fbfbfb;
	text-align: center;
	font-family: "Serif";
	width: 80%;
	margin-bottom: 7px;
	word-spacing: 1em;
}
